@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
.form {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto; }
  .form form {
    padding: 1vw 3vw;
    background-color: #e1e1e1;
    border-radius: 5px; }
  .form h2 {
    margin: 20px 0;
    font-size: 2em;
    font-family: "Radio Canada", sans-serif;
    color: #000; }
  .form div {
    margin: 5px 0px; }
  .form input,
  .form textarea {
    border-radius: 5px;
    border-style: none;
    padding: 10px 5px;
    width: 400px; }
  .form .input {
    background-color: #2a2a2a;
    color: #e1e1e1; }
  .form .submit:hover {
    background-color: #000;
    color: #e1e1e1; }
  .form .submit {
    margin: 15px 0; }

@media (min-width: 320px) and (max-width: 576px) {
  .form input,
  .form textarea {
    width: 270px; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(../imagenes/gucci1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

header .navbar {
  width: 100%; }

header .collapse li a {
  color: #fff;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: #000 1px 0 5px; }

header .navbar-brand {
  font-family: "Roboto Slab", serif;
  font-size: 3.5em;
  color: #fff; }

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  text-align: center;
  background-color: #fff;
  padding-top: 20px; }
  footer li {
    display: flex;
    justify-content: center; }
  footer li a {
    color: #000;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.banner .carousel-caption {
  padding: 100 0; }
  .banner .carousel-caption h2 {
    padding: 30px 0px;
    background-color: #e1e1e1; }
  .banner .carousel-caption a {
    color: #2a2a2a;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  .banner .carousel-caption p {
    font-family: sans-serif;
    color: #4e4a49;
    font-size: 20px; }

.banner img {
  height: 800px;
  object-fit: cover; }

.tarjeta_index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px 20px; }
  .tarjeta_index .galeria {
    margin: 3px;
    height: 500px;
    background: var(--i);
    background-size: cover; }
  .tarjeta_index .texto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .tarjeta_index .texto a {
      font-size: 20px;
      color: #fff;
      text-shadow: #000 6px 0 7px; }

@media (min-width: 320px) and (max-width: 399px) {
  header .collapse li a {
    font-size: 20px;
    text-align: center;
    padding: 10px 0px; }
  .banner .carousel-caption a {
    font-size: 40px; }
  .banner .carousel-caption p {
    font-size: 15px; }
  .banner img {
    height: 600px; }
  .tarjeta_index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; }
    .tarjeta_index .galeria {
      width: 100vw;
      height: 300px; } }

@media (min-width: 400px) and (max-width: 479px) {
  header .collapse li a {
    font-size: 20px;
    text-align: center;
    padding: 10px 0px; }
  .banner .carousel-caption a {
    font-size: 40px; }
  .banner .carousel-caption p {
    font-size: 15px; }
  .banner img {
    height: 600px; }
  .tarjeta_index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; }
    .tarjeta_index .galeria {
      width: 100vw;
      height: 300px; } }

@media (min-width: 480px) and (max-width: 576px) {
  header .collapse li a {
    font-size: 20px;
    text-align: center;
    padding: 10px 0px; }
  .banner .carousel-caption a {
    font-size: 40px; }
  .banner .carousel-caption p {
    font-size: 15px; }
  .banner img {
    height: 600px; }
  .tarjeta_index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; }
    .tarjeta_index .galeria {
      width: 100vw;
      height: 300px; } }

@media (min-width: 577px) and (max-width: 767px) {
  header .collapse li a {
    font-size: 20px;
    text-align: center;
    padding: 10px 0px; }
  .banner .carousel-caption a {
    font-size: 40px; }
  .banner .carousel-caption p {
    font-size: 15px; }
  .banner img {
    height: 600px; }
  .tarjeta_index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; }
    .tarjeta_index .galeria {
      width: 100vw;
      height: 300px; } }

@media (min-width: 768px) and (max-width: 900px) {
  header .collapse li a {
    font-size: 22px;
    text-align: center;
    padding: 10px 0px; }
  .banner img {
    height: 700px; }
  .banner .carousel-caption a {
    font-size: 50px; }
  .banner .carousel-caption p {
    font-size: 18px; }
  .tarjeta_index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; }
    .tarjeta_index .galeria {
      height: 400px; } }

@media (min-width: 901px) and (max-width: 1024px) {
  header .collapse li a {
    font-size: 22px;
    text-align: center;
    padding: 10px 0px; }
  .banner img {
    height: 700px; }
  .banner .carousel-caption a {
    font-size: 50px; }
  .banner .carousel-caption p {
    font-size: 18px; }
  .tarjeta_index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; }
    .tarjeta_index .galeria {
      height: 400px; } }

.tarjeta_mujer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 60px; }
  .tarjeta_mujer .galeria {
    margin: 3px;
    height: 600px;
    background: var(--i);
    background-size: cover; }
  .tarjeta_mujer .texto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    opacity: 0;
    transition: 0.5s; }
    .tarjeta_mujer .texto a {
      font-size: 30px;
      color: #fff;
      text-shadow: #000 6px 0 7px; }
    .tarjeta_mujer .texto p {
      font-size: 15px;
      color: #fff;
      text-shadow: #000 6px 0 7px; }
  .tarjeta_mujer .galeria:hover .texto {
    opacity: 1; }

@media (min-width: 320px) and (max-width: 576px) {
  .tarjeta_mujer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; }
    .tarjeta_mujer .galeria {
      width: 95vw;
      height: 300px; }
  .h2_mujer {
    font-size: 35px; } }

@media (min-width: 577px) and (max-width: 900px) {
  .tarjeta_mujer {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center; }
    .tarjeta_mujer .galeria {
      width: 47vw;
      height: 300px; } }

@media (min-width: 901px) and (max-width: 1024px) {
  .tarjeta_mujer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center; }
    .tarjeta_mujer .galeria {
      width: 32vw;
      height: 300px; }
  .h2_mujer {
    font-size: 3em; } }

@media (min-width: 1025px) {
  .h2_mujer {
    font-size: 3em; } }

.h2_hombre, .h2_mujer {
  width: 100%;
  background-color: #fff;
  padding: 40px 0px;
  text-align: center;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.tarjeta_hombre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px 30px;
  margin-bottom: 10px; }
  .tarjeta_hombre .galeria {
    margin: 3px;
    height: 600px;
    background: var(--i);
    background-size: cover; }
  .tarjeta_hombre .texto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    opacity: 0;
    transition: 0.5s; }
    .tarjeta_hombre .texto a {
      font-size: 20px;
      color: #fff;
      text-shadow: #000 6px 0 7px; }
    .tarjeta_hombre .texto p {
      font-size: 20px;
      color: #fff;
      text-shadow: #000 6px 0 7px; }
  .tarjeta_hombre .galeria:hover .texto {
    opacity: 1; }

@media (min-width: 320px) and (max-width: 576px) {
  .tarjeta_hombre {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; }
    .tarjeta_hombre .galeria {
      width: 100vw;
      height: 300px; } }

@media (min-width: 577px) and (max-width: 900px) {
  .tarjeta_hombre {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center; }
    .tarjeta_hombre .galeria {
      width: 47vw;
      height: 300px; } }

@media (min-width: 901px) and (max-width: 1024px) {
  .tarjeta_hombre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center; }
    .tarjeta_hombre .galeria {
      width: 32vw;
      height: 300px; }
  .h2_hombre, .h2_mujer {
    font-size: 3em; } }

@media (min-width: 1025px) {
  .h2_hombre, .h2_mujer {
    font-size: 3em; } }

.ss {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px 0; }
  .ss iframe {
    width: 1000px;
    height: 800px; }

.h2_ss {
  width: 100%;
  background-color: #fff;
  padding: 40px 0px;
  text-align: center;
  -webkit-text-stroke: 2px #000;
  color: transparent;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.tarjeta_ss {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 10px;
  justify-items: center;
  align-items: center; }
  .tarjeta_ss .galeria {
    width: 400px;
    height: 650px;
    background: var(--i);
    background-size: cover; }
  .tarjeta_ss .texto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    opacity: 0;
    transition: 0.5s; }
    .tarjeta_ss .texto p {
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      text-align: center;
      width: 250px;
      color: #000;
      text-shadow: #fff 5px 0 5px; }
  .tarjeta_ss .galeria:hover .texto {
    opacity: 1; }

@media (min-width: 320px) and (max-width: 576px) {
  .ss iframe {
    width: 100vw;
    height: 400px; }
  .tarjeta_ss {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    grid-gap: 10px; }
    .tarjeta_ss .galeria {
      width: 95vw;
      height: 300px; } }

@media (min-width: 577px) and (max-width: 767px) {
  .ss iframe {
    width: 100vw;
    height: 400px; }
  .tarjeta_ss {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    grid-gap: 5px; }
    .tarjeta_ss .galeria {
      width: auto;
      min-width: 90vw;
      height: 300px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .ss iframe {
    width: 80vw;
    height: 500px; }
  .tarjeta_ss {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center;
    grid-gap: 10px; }
    .tarjeta_ss .galeria {
      width: 45vw;
      height: 400px; } }

@media (min-width: 1025px) {
  .h2_ss {
    font-size: 3em; } }
