@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


/* 
GENERAL
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(../imagenes/gucci1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    margin: 60px;
}

header .h1 a {
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    color: #fff;
}

header li a {
    color: #fff;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: #000 1px 0 5px;
}

.menu {
    width: 30px;
    height: 30px;
}

.checkbtn{
    font-size: 120px;
    color: #fff;
    float: right;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    text-align: center;
    background-color: #fff;
    padding: 30px 0;
}

footer li {
    display: flex;
    justify-content: center;
}

footer li a {
    color: #000;
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* 
index
*/

.banner {
    position: relative;
    width: 100%;
    height: calc(80vh - 50px);
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url(../imagenes/1.jpg);
    z-index: -1;

    animation: banner 18s infinite linear;
    animation-direction: alternate;
}

.coleccion {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner div a {
    text-decoration: none;
    -webkit-text-stroke: 2px #000;
    color: transparent;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner div p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    padding-top: 0.2cm;
}

@keyframes banner {
    0%{
        background-image: url('../imagenes/1.jpg')
    }

    32%{
        background-image: url('../imagenes/1.jpg')
    }

    36%{
        background-image: url('../imagenes/2.jpg')
    }

    62%{
        background-image: url('../imagenes/2.jpg')
    }

    66%{
        background-image: url('../imagenes/3.jpg')
    }

    100%{
        background-image: url('../imagenes/3.jpg')
    }
}

/* 
pagina de hombre y mujer
*/

.img1 {
    background-image: url(../imagenes/hombre/hombre1.jpg);
    background-size: cover;
    width: 400px;
    height: 500px;
}

.spring {
    background-image: url(../imagenes/main\ hombre\ y\ mujer.gif);
    margin-bottom: 1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    background-repeat: repeat-x;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spring h3 {
    position: absolute;
    -webkit-text-stroke: 1px #F5B7B1;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img {
    background-image: url(../imagenes/mujer/mujer1.jpg);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 500px;
}

.hombremujer h3 {
    margin-bottom: 40px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.hombremujer p {
    color: #F5B7B1;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hombremujer1 {
    background-image: url(../imagenes/main\ hombre\ y\ mujer.gif);
    margin: 40px 0px;
    padding-top: 2cm;
    padding-bottom: 2cm;
    background-repeat: repeat-x;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 10px;
}

.fotos:hover {
    transform: scale(1.1);
}

.imagen__galeria {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 
pagina de ss22
*/

.ss {
    width: 100%;
    display: flex;
    justify-content: center;
}

iframe {
    width: 1000px;
    height: 800px;
}

.h2 {
    padding: 60px 0px;
    text-align: center;
    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.div1 {
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.div2 {
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
}

.foto img {
    width: 300px;
    height: auto;
}

.texto1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    text-align: center;
    margin-top: 30px;
    color: #fff;
}


/* 
pagina de contacto
*/

form {
    display: flex;
    justify-content: center;
    width: 100%;
}

form div {
    width: 500px;
    background: #999;
    box-shadow: 1px 10px 40px #999;
    padding: 35px 45px;
    border-radius: 5px;
}

form h2 {
    margin: 0;
    padding-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #543206;
    filter: contrast(0.5);
}

.texto {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #543206;
    outline: none;
}

::placeholder {
    color: #000;
}

.sexo {
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.enviar {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border: none;
    background-color: #666;
}

/* -- MOBILE -- */
@media (max-width: 576px) {

    form {
        margin: 0px auto;
        margin-bottom: 60px;
        width: 350px;
        height: auto;
    }

    .text {
        width: 100%;
        text-align: center;
        padding: 0px 70px;
    }

    .galeria {
        display: grid;
        grid-template-columns: repeat(2, 4fr);
        grid-auto-rows: 250px;
        grid-gap: 10px;
        padding: 30px;
    }

    .hombremujer .img1 {
        display: none;
    }

    .hombremujer .img {
        display: none;
    }

    .spring h3 {
        font-size: 40px;
    }

    .hombremujer p {
        font-size: 10px;
    }

    .coleccion {
        text-align: center;
    }

    .checkbtn {
        display: block;
    }

    .menu {
        display: block;
        position: fixed;
        top: 10px;
        right: 60px;
    }

    .nav__menu ul {
        display: block;
        position: absolute;
        top: 190px;
        left: -100%;
        background: #000;
        width: 100%;
        z-index: 999;
    }

    .nav__menu ul li {
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #check:checked ~ ul {
        left: 0;
    }

    iframe {
        width: 500px;
        height: 300px;
    }

    .h2 {
        padding: 30px 0;
    }

    .div1 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .div2 {
        text-align: center;
        width: 300px;
        padding: 15px 0;
    }

    .foto img {
        width: 250px;
        height: auto;
    }
}

/* -- TABLET -- */
@media (min-width: 576px) and (max-width: 991px) {

    iframe {
        width: 700px;
        height: 500px;
    }

    .h2 {
        padding: 30px 0;
    }

    .div1 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .div2 {
        width: 300px;
        padding: 15px 0;
    }

    .galeria {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 250px;
        grid-gap: 10px;
        padding: 30px;
    }

    .img {
        width: 400px;
        height: 400px;
        margin-left: 40px;
    }
    
    .img1 {
        width: 400px;
        height: 400px;
        margin-right: 40px;
    }

    .hombremujer {
        display: flex;
        align-items: center;
    }

    .text {
        width: 100%;
        padding: 0px 100px;
        text-align: center;
    }

    .checkbtn {
        display: block;
    }

    .menu {
        display: block;
        position: fixed;
        top: 10px;
        right: 90px;
    }

    .nav__menu ul {
        display: block;
        position: absolute;
        padding: 30px;
        top: 190px;
        left: -100%;
        background: #000;
        width: 100%;
        cursor: pointer;
        z-index: 999;
    }

    .nav__menu ul li {
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

/* -- ESCRITORIO -- */
@media (min-width: 992px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 60px 100px;
    }

    .li {
        display: inline-block;
        padding: 1cm;
        border-left: 0.1cm solid #D9D0D0;
    }
    
    .index{
        display: inline-block;
        padding: 1cm;
    }
    
    nav li a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: #000 1px 0 5px;
    }

    .hombremujer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text {
        width: 40%;
        margin-left: 0;
        padding: 0px 250px;
        text-align: center;
    }

    .galeria {
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
}