@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(../imagenes/gucci1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

header {
  .navbar {
    width: 100%;
  }
  .collapse li a {
    color: #2a2a2a;
    font-weight: bold;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .navbar-brand {
    font-family: "Roboto Slab", serif;
    font-size: 3.5em;
    color: #fff;
  }
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  text-align: center;
  background-color: #fff;
  padding-top: 20px;
  li {
    display: flex;
    justify-content: center;
  }
  li a {
    color: #000;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

.banner {
  .carousel-caption {
    h2 {
      padding: 30px 0px;
      background-color: #e1e1e1;
    }
    a {
      color: #2a2a2a;
      font-size: 60px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
  }
  img {
    height: 800px;
    object-fit: cover;
  }
}

.tarjeta_index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px 20px;
  .galeria {
    margin: 3px;
    height: 500px;
    background: var(--i);
    background-size: cover;
  }
  .texto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 20px;
      color: #fff;
      text-shadow: #000 6px 0 7px;
    }
  }
}
//mobile
@media (min-width: 320px) and (max-width: 399px) {
  header {
    .collapse li a {
      font-size: 20px;
      text-align: center;
      padding: 10px 0px;
    }
  }
  .banner {
    .carousel-caption a {
      font-size: 40px;
    }
    .carousel-caption p {
      font-size: 15px;
    }
    img {
      height: 600px;
    }
  }
  .tarjeta_index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    .galeria {
      width: 90vw;
      height: 300px;
    }
  }
}
@media (min-width: 400px) and (max-width: 479px) {
  header {
    .collapse li a {
      font-size: 20px;
      text-align: center;
      padding: 10px 0px;
    }
  }
  .banner {
    .carousel-caption a {
      font-size: 40px;
    }
    .carousel-caption p {
      font-size: 15px;
    }
    img {
      height: 600px;
    }
  }
  .tarjeta_index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    .galeria {
      width: 100vw;
      height: 300px;
    }
  }
}
@media (min-width: 480px) and (max-width: 576px) {
  header {
    .collapse li a {
      font-size: 20px;
      text-align: center;
      padding: 10px 0px;
    }
  }
  .banner {
    .carousel-caption a {
      font-size: 40px;
    }
    .carousel-caption p {
      font-size: 15px;
    }
    img {
      height: 600px;
    }
  }
  .tarjeta_index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    .galeria {
      width: 100vw;
      height: 300px;
    }
  }
}
//tablet
@media (min-width: 577px) and (max-width: 767px) {
  header {
    .collapse li a {
      font-size: 20px;
      text-align: center;
      padding: 10px 0px;
    }
  }
  .banner {
    .carousel-caption a {
      font-size: 40px;
    }
    .carousel-caption p {
      font-size: 15px;
    }
    img {
      height: 600px;
    }
  }
  .tarjeta_index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    .galeria {
      width: 100vw;
      height: 300px;
    }
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  header {
    .collapse li a {
      font-size: 22px;
      text-align: center;
      padding: 10px 0px;
    }
  }
  .banner {
    img {
      height: 700px;
    }
    .carousel-caption a {
      font-size: 50px;
    }
    .carousel-caption p {
      font-size: 18px;
    }
  }
  .tarjeta_index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    .galeria {
      height: 400px;
    }
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  header {
    .collapse li a {
      font-size: 22px;
      text-align: center;
      padding: 10px 0px;
    }
  }
  .banner {
    img {
      height: 700px;
    }
    .carousel-caption a {
      font-size: 50px;
    }
    .carousel-caption p {
      font-size: 18px;
    }
  }
  .tarjeta_index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    .galeria {
      height: 400px;
    }
  }
}
//escritorio
@media (min-width: 1025px) {
}
